main figure {
width: 300px;
float: left;
margin-top: 1em;
}

.box {
width: 90%;
border: solid 1pt #e7e7e7;
padding: 0.5em;
margin-right: auto;
margin-left: auto;
float: center;
font-family:  “Helvetica Neue”, Helvetica, Arial, Sans-serif;
font-size : 14px;
color : #333333;
}

.top2 {
background-color:#FFFFFF;
}

.top {
color:White;
background-color:#000000;
margin:0em 4em 0.25em 4em;
width: 90%;
}

.bottom {
color:White;
background-color:#000000;
margin:0em 4em 0.25em 4em;
width: 90%;
float: center
}

.right {
padding-left: 5em;
float: right;
}

.left {
padding-right: 3em;
float: left;
}

.image {
  width : 300px;
  float:left;
}

.d {
  width: 98%;
  padding-right: 100px;
}

.similar{
  padding-top: 150px;

  width: 98%;
}

.red {

  color: red;
}

.leeft {
float : left ;
width: 140px;
}
